.btn-style {
  background-color: #1184ff;
  padding: 10px 15px;
  height: 20px;
  border-radius: 12px;
  align-items: center;
  color: white;
  display: flex;
  font-size: 14px;
  margin: 0 10px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
}

.btn-style:hover {
  background-color: #2f94ff;
}

.btns-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.submit-btn {
    background-color: #faf9f9;
    width: 80px;
    height: 30px;
    cursor: pointer;
    padding: 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #5d87b3;
    transition: 0.1s;
    color: #5d87b3;
    border: 1px solid #8ac3ff;
}

.submit-btn:hover {
    color: rgb(109, 149, 193);
    border: 1px solid #5a7ea5;
}

.deposit-btn {
  color: #007bff;
  background-color: white;
  border: 2px solid #1184ff;
}

.deposit-btn:hover {
  color: #2f94ff;
  background-color: white;
  border: 2px solid #2f94ff;
}

.buy-btn {
  background-color: #007bff;
  padding: 10px 15px;
  height: 20px;
  border-radius: 12px;
  align-items: center;
  color: white;
  display: flex;
  font-size: 14px;
}

.header-horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slide-container-wrap > * {
  margin: 15px 32px;
  user-select: none;
  font-size: 18px;
  z-index: 100;
}
