.form-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 40px 30px;
  border-radius: 10px;
  color: white;
  align-items: center;
}

.form-container input {
  padding: 8px;
  background-color: rgb(222, 222, 222);
  border: 1px solid transparent;
  border-radius: 15px;
}

.form-container-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
  color: rgba(0, 0, 0, 0.88);
}

.form-container-style p {
}

.add-portfolio-form .submit-btn {
  cursor: pointer;
}

.form-container-style .error {
  margin: 10px;
  color: rgb(217, 51, 87);
}

.form-container-style .error.hidden {
  display: block;
  visibility: hidden;
}

.horizontal.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -20px;
  user-select: none;
}

.horizontal.form-container > * {
  margin: 20px;
}

.horizontal.form-container input {
  width: 300px;
}

.horizontal.form-container .btn {
  padding: 8px 15px;
  background-color: rgb(222, 222, 222);
  border: 1px solid transparent;
  border-radius: 10px;
}

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
