.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.requests {
  margin-top: 20px;
}
.request-item {
  background-color: #f9f9f9;
  padding: 10px;
  height: 70px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.friend-info {
  width: 75%;
  margin: 10px 10px 10px 11px;
  max-width: 1150px;
}

.friend-request-form {
  margin-top: 62px;
  display: flex;
  flex-direction: row;
}

.shared-stocklists-dropdown {
  display: flex;
  flex-direction: row;
}

.stocklist-item {
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stocklist-item-inner {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-align: center;
  margin: 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.friend-action-btns {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-right: 10px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.accept-friend-btn {
  background-color: #28a745;
  width: 50%;
  margin-right: 10px;
}

.decline-friend-btn {
  background-color: #a71a1a;
  width: 50%;
  margin-right: 10px;
}

.friend-request-form-username {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 20px;
}

.friend-request-form-btn {
  width: 10%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
}

.friend-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e4e7e9;
  background-image: url("https://www.google.com/imgres?q=user%20icon&imgurl=https%3A%2F%2Ficons.veryicon.com%2Fpng%2Fo%2Fmiscellaneous%2Ftwo-color-icon-library%2Fuser-286.png&imgrefurl=https%3A%2F%2Fwww.veryicon.com%2Ficons%2Fmiscellaneous%2Ftwo-color-icon-library%2Fuser-286.html&docid=IaPlF0XHOj-6TM&tbnid=nE8xjx2gbi_fTM&vet=12ahUKEwjB7NGsvdWHAxVxC3kGHWAAOSEQM3oECCkQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwjB7NGsvdWHAxVxC3kGHWAAOSEQM3oECCkQAA");
}

.friend-item {
  background-color: #f9f9f9;
  padding: 10px;
  height: 70px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shared-stocklists-btn {
  background-image: url(../assets/arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.shared-stocklists {
  width: 15%;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 3px;
  background-color: #29b6f6;
  border: none;
  border-radius: 5px;
  color: #f9f9f9;
  height: 40px;
  max-width: 160px;
}

.shared-stocklists-title {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  height: 16px;
}
