body {
  background-color: rgba(90, 90, 92, 0.1);
}

.navbar {
  display: flex;
  background-color: #faf9f9;
  padding: 1em;
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 65%;
  right: 0;
  height: 30px;
  position: fixed;
  top: 0;
}

.navbar a {
  text-decoration: none;
  margin: 0 1em;
}

.search-bar {
  padding: 0.7em;
  border-radius: 5px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.profile .img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-radius: 1px solid transparent;
  margin-right: 10px;
  background-color: #e4e7e9;
}

.main-container {
  color: #333;
  width: 100%;
}

.contents-container {
  padding: 4em;
  /* width: 86%; */
  height: 100%;
  margin-left: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  background-color: #f9f9f9;
  position: fixed;
  top: 30px;
  bottom: 0;
  width: 150px;
  padding: 2em 1em;
}

.sidebar a {
  text-decoration: none;
  display: block;
  margin: 1em 0;
}
