.popup {
  background-color: rgb(224, 224, 224);
  width: 80%;
  height: 80%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup .portfolios {
    display: flex;
    flex-direction: row;
}

.popup-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
}
